.change_theme {
  position: absolute;
  max-width: 30em;
  padding: 0;
  top: 180px;

  border: none;
  box-shadow: rgba(255, 255, 255, 0.103);
  fill: white;
  background-color: transparent;
  transform: scale(0.75); // 75% of original size
}

.change_theme:hover,
.change_theme:focus {
  fill: var(--orange-hover);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .change_theme {
    top: 160px;
    transform: scale(1); // 75% of original size
  }
}








button.change_theme[data-theme='onDark'] {
  display: block;
}

button.change_theme[data-theme='onLight'] {
  display: none;
}
// Тёмная тема
.dark__theme {
  // страница -------------------
  background-color: #5c5b5b;

  .footer {
    background-color: #363636;
  }
  .footer__text {
    color: var(--white-color);
  }
  .film__title {
    color: var(--white-color);
  }
  // модалка основная (инфо)---------
  .infoFilm {
    background-color: #5c5b5b;
  }
  .infoFilm__button {
    fill: var(--light-gray-color);
  }
  .button-modal__orange {
    color: var(--light-gray-color);
  }
  .button-modal__white {
    color: var(--light-gray-color);
    border-color: var(--light-gray-color);
  }
  .about-film__left {
    color: var(--light-gray-color);
  }
  .votes-count {
    background-color: var(--light-gray-color);
  }
  // модалка команды -------------------
  .ourteam__container {
    background-color: #5c5b5b;
  }
  .modal__close-button {
    fill: var(--light-gray-color);
  }
  .ourteam__title {
    color: var(--light-gray-color);
  }
  .ourteam__subtitle {
    color: var(--light-gray-color);
  }

  // .team-logo {
  //   // border-radius: 50%;
  // }

  button.change_theme[data-theme='onDark'] {
    display: none;
  }

  button.change_theme[data-theme='onLight'] {
    display: block;
  }
}
