:root {
    --main-text-color: #000000;
    --footer-text-color: #545454;
    --red-color: #FF001B;
    --accent-color: #FF6B01;
    --white-color: #ffffff;
    --gray-color: #8C8C8C;
    --header-bgc: rgba(0, 0, 0, 0.56);
    // Background color of votes in info modal and footer bg
    --light-gray-color: #F7F7F7;
    --back-drop-bg-color: rgba(0, 0, 0, .4);
    --transition-duration: 350ms;
    --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
    --orange-hover: rgb(220, 71, 11);
    --orange-btn: #ff6b01;
}