
  <div class="container header__section">
    <nav class="site-nav">
      <a href="./index.html" class="header__logo">
        <svg class="header__icon" width="24" height="24">
          <use href="/src/images/sprite.svg#header-logo"></use>
        </svg>
        <span class="header__logo-text">Filmoteka</span>
      </a>
      <ul class="header__list">
        <li class="header__list-item">
          <a
            href="./index.html"
            class="header__list-link header__list-link--accent"
            >HOME</a
          >
        </li>
        <li class="header__list-item">
          <a href="./my-library.html" class="header__list-link library visually-hidden"> MY LIBRARY </a>
        </li>
        <li class="header__list-item" id="headerAuthorization">
          <a href="./index.html" class="header__list-link auth-btn">
            <svg class="header__icon icon-autorization icon-login" width="24" height="24">
              <use href="/src/images/sprite.svg#icon-autorization"></use>
            </svg>
            <svg class="header__icon icon-autorization icon-logout visually-hidden" width="24" height="24">
              <use href="/src/images/sprite.svg#icon-exit"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>

    <form action="submit" class="header__form">
      <div class="header__form-search">
        <input
          type="text"
          name="serch_film"
          autofocus
          placeholder="Movie search"
          class="header__form-input js-input"
        />
        <button type="submit" class="header__search">
          <svg class="header__form-icon" width="12" height="12">
            <use href="/src/images/sprite.svg#header-search"></use>
          </svg>
        </button>
      </div>
    </form>

    <p id="header__error-message" class="header__error visually-hidden">
      Search result not successful. Enter the correct movie name and try again.
    </p>

    <div>
      <button class="change_theme" data-theme="onLight" >
        <svg class="moon-icon" width="30" height="30">
          <use href="/src/images/sprite.svg#icon-sun"></use>
        </svg>
      </button>
    
      <button class="change_theme" data-theme="onDark">
        <svg class="moon-icon" width="30" height="30">
          <use href="/src/images/sprite.svg#icon-moon"></use>
        </svg>
      </button>
    </div>
  </div>
