<div class="backdrop-modalAuthorization visually-hidden">
  <div class="authorization">
    <button type="button" class="authorization__close">
      <svg class="authorization__svg">
        <use href="/src/images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="authorization__title">Sign in</h2>
    <form autocomplete="off" class="auth">
      <label>
        Email
        <input
          class="form__input"
          type="email"
          name="email"
          id="email"
          placeholder="please, enter your email "
        />
      </label>

      <label>
        Password
        <input
          class="form__input"
          type="password"
          name="password"
          id="password"
          placeholder="please, enter your password "
        />
      </label>
      <div class="form__button-wrap">
        <button class="form__button" type="submit" id="login">Sign in</button>
        <button class="form__button" type="submit" id="login">Sign out</button>
      </div>
    </form>
    <p class="form__text">You still don't have an account?</p>
    <a class="authorization__link" href=""> Registration here</a>
  </div>
</div>

<!-- модальное окно регистрации -->

<div class="backdrop-modalRegistration visually-hidden">
  <div class="authorization">
    <button type="button" class="registration__close">
      <svg class="authorization__svg">
        <use href="/src/images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="authorization__title">Sign up</h2>
    <form autocomplete="off" class="registration">
      <label>
        Name
        <input
          class="form__input"
          type="name"
          name="sign-up-name"
          id="name"
          placeholder="please, enter your name "
        />
      </label>

      <label>
        Email
        <input
          class="form__input"
          type="email"
          name="sign-up-email"
          placeholder="please, enter your email "
        />
      </label>

      <label>
        Password
        <input
          class="form__input"
          type="password"
          name="sign-up-password"
          placeholder="please, enter your password "
        />
      </label>
      <div class="form__button-wrap">
        <button class="form__button" type="submit">Sign in</button>
      </div>
    </form>
  </div>
</div>
