<div class="backdrop-modalAuthorization visually-hidden">
  <div class="authorization">
    <button type="button" class="authorization__close">
      <svg class="authorization__svg">
        <use href="/src/images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="authorization__title">login in</h2>
    <form autocomplete="off">
      <label>
        Email
        <input class="form__input" type="email" name="email" />
      </label>

      <label>
        Password
        <input class="form__input" type="password" name="password" />
      </label>

      <button class="form__button" type="submit">login in</button>
    </form>
    <a href="">"You still don't have an account?Registration here".</a>
  </div>
</div>
