<!-- visually-hidden -->
<div class="team__backdrop visually-hidden">
  <div class="ourteam__container">
    <div class="title-wrapper">
      <h2 lang="en" class="ourteam__title">Devs-ua</h2>
      <a
        class="ref__github"
        href="https://github.com/Alexf17/Devs-ua-Project-JS"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="Our Github"
      >
        <img
          class="team-logo"
          src="/src/images/logoDevsUa.png"
          alt="Devs-ua"
          loading="lazy"
        />
      </a>
    </div>
    <div class="ourteam__content">
      <ul class="ourteam__list">
        <li class="ourteam__item">
          <div class="img__scale">
            <a
              href="https://github.com/Alexf17"
              target="_blank"
              class="ourteam__link"
              aria-label="Members Github"
            >
              <img
                src="https://avatars.githubusercontent.com/u/98961066?v=4"
                alt="Oleksii Chilibiyskiy"
                class="ourteam__image"
                loading="lazy"
                width="274"
              />
            </a>
          </div>
          <p lang="en" class="ourteam__subtitle">Oleksii Chilibiyskiy</p>
          <p lang="en" class="ourteam__text">Team Lead</p>
        </li>
        <li class="ourteam__item">
          <div class="img__scale">
            <a
              href="https://github.com/Darymee"
              target="_blank"
              aria-label="Members Github"
            >
              <img
                src="https://avatars.githubusercontent.com/u/98210490?v=4"
                alt="Daryna Lysenko"
                class="ourteam__image"
                loading="lazy"
                width="274"
              />
            </a>
          </div>
          <p lang="en" class="ourteam__subtitle">Daryna Lysenko</p>
          <p lang="en" class="ourteam__text text">Scrum Master</p>
        </li>
        <li class="ourteam__item">
          <div class="img__scale">
            <a
              href="https://github.com/vplabunets"
              target="_blank"
              aria-label="Members Github"
            >
              <img
                src="https://avatars.githubusercontent.com/u/91912993?v=4"
                alt="Volodymyr Labunets"
                class="ourteam__image"
                loading="lazy"
                width="274"
              />
            </a>
          </div>
          <p lang="en" class="ourteam__subtitle">Volodymyr Labunets</p>
          <p lang="en" class="ourteam__text text">Developer</p>
        </li>
        <li class="ourteam__item">
          <div class="img__scale">
            <a
              href="https://github.com/AlexUKDev"
              target="_blank"
              aria-label="Members Github"
            >
              <img
                src="https://avatars.githubusercontent.com/u/61418792?v=4"
                alt="Aleksandr Sidorenko"
                class="ourteam__image"
                loading="lazy"
                width="274"
              />
            </a>
          </div>
          <p lang="en" class="ourteam__subtitle">Aleksandr Sidorenko</p>
          <p lang="en" class="ourteam__text text">Developer</p>
        </li>
        <li class="ourteam__item">
          <div class="img__scale">
            <a
              href="https://github.com/kisen8"
              target="_blank"
              aria-label="Members Github"
            >
              <img
                src="https://avatars.githubusercontent.com/u/98693959?v=4"
                alt="Ihor Komar"
                class="ourteam__image"
                loading="lazy"
                width="274"
              />
            </a>
          </div>
          <p lang="en" class="ourteam__subtitle">Ihor Komar</p>
          <p lang="en" class="ourteam__text text">Developer</p>
        </li>
        <li class="ourteam__item">
          <div class="img__scale">
            <a
              href="https://github.com/DenisKhrebtov"
              target="_blank"
              aria-label="Members Github"
            >
              <img
                src="https://avatars.githubusercontent.com/u/98487728?v=4"
                alt="Denis Khrebtov"
                class="ourteam__image"
                loading="lazy"
                width="274"
              />
            </a>
          </div>
          <p lang="en" class="ourteam__subtitle">Denis Khrebtov</p>
          <p lang="en" class="ourteam__text text">Developer</p>
        </li>
        <li class="ourteam__item">
          <div class="img__scale">
            <a
              href="https://github.com/BolterBait"
              target="_blank"
              aria-label="Members Github"
            >
              <img
                src="https://avatars.githubusercontent.com/u/98707167?v=4"
                alt="Oleksandr Svyatobog"
                class="ourteam__image"
                loading="lazy"
                width="274"
              />
            </a>
          </div>
          <p lang="en" class="ourteam__subtitle">Oleksandr Svyatobog</p>
          <p lang="en" class="ourteam__text text">Developer</p>
        </li>
        <li class="ourteam__item">
          <div class="img__scale">
            <a
              href="https://github.com/VladymyrKnysh"
              target="_blank"
              aria-label="Members Github"
            >
              <img
                src="https://avatars.githubusercontent.com/u/99245967?v=4"
                alt="Vladymyr Knysh"
                class="ourteam__image"
                loading="lazy"
                width="274"
              />
            </a>
          </div>
          <p lang="en" class="ourteam__subtitle">Vladymyr Knish</p>
          <p lang="en" class="ourteam__text text">Developer</p>
        </li>
        <li class="ourteam__item">
          <div class="img__scale">
            <a
              href="https://github.com/montecristo2022"
              target="_blank"
              aria-label="Members Github"
            >
              <img
                src="https://avatars.githubusercontent.com/u/104501641?v=4"
                alt="Mykola Trush"
                class="ourteam__image"
                loading="lazy"
                width="274"
              />
            </a>
          </div>
          <p lang="en" class="ourteam__subtitle">Mykola Trush</p>
          <p lang="en" class="ourteam__text text">Developer</p>
        </li>
        <li class="ourteam__item">
          <div class="img__scale">
            <a
              href="https://github.com/Pupsikk"
              target="_blank"
              aria-label="Members Github"
            >
              <img
                src="https://avatars.githubusercontent.com/u/100074196?v=4"
                alt="Alexandr Zabudko"
                class="ourteam__image"
                loading="lazy"
                width="274"
              />
            </a>
          </div>
          <p lang="en" class="ourteam__subtitle">Alexandr Zabudko</p>
          <p lang="en" class="ourteam__text text">Developer</p>
        </li>
      </ul>
    </div>
    <button type="button" class="modal__close-button">
      <svg class="modal__close-button-svg">
        <use href="/src/images/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
