<div class="backdrop-modalAuthorization visually-hidden">
  <div class="authorization">
    <button type="button" class="authorization__close">
      <svg class="authorization__svg">
        <use href="/src/images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="authorization__title">login in</h2>
    <form autocomplete="off" class="auth">

      <label>
        Email
        <input class="form__input" type="email" name="email" id="email" />
      </label>

      <label>
        Password
        <input
          class="form__input"
          type="password"
          name="password"
          id="password"
        />
      </label>

      <button class="form__button" type="submit" id="login">Login in</button>
    </form>
    <a class="authorization__link" href=""
      >"You still don't have an account? Registration here".</a
    >
  </div>
</div>

<!-- модальное окно регистрации -->

<div class="backdrop-modalRegistration visually-hidden">
  <div class="authorization">
    <button type="button" class="registration__close">
      <svg class="authorization__svg">
        <use href="/src/images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="authorization__title">sign in</h2>
    <form autocomplete="off" class="registration">

      <label>
        Name
        <input class="form__input" type="name" name="sign-up-name" id="name" />
      </label>

      <label>
        Email
        <input class="form__input" type="email" name="sign-up-email" />
      </label>

      <label>
        Password
        <input class="form__input" type="password" name="sign-up-password" />
      </label>

      <button class="form__button" type="submit">Sign in</button>
    </form>
  </div>
</div>
