.button {
    height: 44px;
    font-size: 12px;
    line-height: 1.33px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    border: none;
}

.button--desktop {
    width: 148px;
}

.button--tablet {
    width: 130px;
}

.button--mobile {
    width: 110px;
}

.button--orange {
    background-color:var(--accent-color);
}

.button--orange:hover,
.button--orange:focus {
    border: 1px solid var(--white-color);
    background-color: var(--back-drop-bg-color);
}

.button--transparent {
    border: 1px solid var(--white-color);
    background-color: var(--back-drop-bg-color);
}

.button--transparent:hover,
.button--transparent:focus {
    background-color:var(--accent-color);
    border: none;
}