.paginationBox {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 60px;

  & > li {
    padding-top: 14px;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    transition: transform var(--transition-duration) var(--transition-timing);
    &:hover,
    &:focus {
      transform: scale(1.01);
    }
  }
}

.paginationPage--current {
  color: var(--white-color);
  background-color: var(--accent-color);
  &:hover,
  &:focus {
    color: var(--white-color);
  }
}
