.paginationBox {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 60px;

  & > li {
    cursor: pointer;
    padding-top: 14px;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    transition: transform var(--transition-duration) var(--transition-timing),
      color var(--transition-duration) var(--transition-timing);
    &:last-child {
      cursor: auto;
      pointer-events: none;
    }
    &:hover,
    &:focus {
      transform: scale(1.02);
      color: var(--accent-color);
    }
    &.paginationPage--current {
      color: var(--white-color);
      background-color: var(--accent-color);
      &:hover,
      &:focus {
        color: var(--white-color);
        transform: scale(1);
      }
    }
  }
}

.paginationRow {
  background-color: var(--light-gray-color);
}
