.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f7f7f7;
  max-width: 1024px;
  margin: 0 auto;
  @media screen and (min-width: 1328px) {
    max-width: 1328px;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }
}

.footer__first-text-box {
  margin-bottom: 10px;
  display: flex;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.footer__second-text-box {
  display: flex;
}

.footer__text {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  color: #545454;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.19;
  }
}

.footer__text--vertical-line {
  &::after {
    content: '|';
    margin: 0 5px;
  }
}

.footer__link {
  text-decoration-line: underline;
  margin-left: 4px;
}

.footer__svg {
  fill: #ff6b08;
  width: 14px;
  height: 14px;
  margin: 0 10px;
  display: flex;
  align-self: center;
}
