.header {
  background-repeat: no-repeat;
  background-position: center;
  background-color: var (--header-bgc);
  background-image: url(/src/images/mobile/main-background-mobile.png);
  background-size: cover;
  /* opacity: 0.9; */
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header {
    background-image: url(/src/images/mobile/main-background-mobile@2x.png);
  }
}

@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 288dpi),
  screen and (min-resolution: 3dppx) {
  .header {
    background-image: url(/src/images/mobile/main-background-mobile@3x.png);
  }
}

/*Tablet фон*/
@media screen and (min-width: 768px) {
  .header {
    min-height: 216px;
    background-image: url(/src/images/tablet/main-background-tablet.png);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header {
      background-image: url(/src/images/tablet/main-background-tablet@2x.png);
    }
  }
  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .header {
      background-image: url(/src/images/tablet/main-background-tablet@3x.png);
    }
  }
}
/*Desctop фон*/
@media screen and (min-width: 1280px) {
  .header {
    background-image: url(/src/images/desktop/main-background-desktop.png);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header {
      background-image: url(/src/images/desktop/main-background-desktop@2x.png);
    }
  }
  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .header {
      background-image: url(/src/images/desktop/main-background-desktop@3x.png);
    }
  }
}

.header__section {
  padding-top: 44px;
  padding-bottom: 92px;
}

.header__logo {
  margin-top: 0;
  transition: stroke var(--transition-duration) var(--transition-timing);
}

.header__icon {
  color: var(--white-color);
  fill: none;
  display: block;
  transition: fill var(--transition-duration) var(--transition-timing);
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;

  font-style: 500;
  font-size: 12px;
  line-height: 1;
}

.header__list {
  color: var(--white-color);
}

.header__list-item {
  position: relative;
  margin-right: 40px;
}

.header__list-item:last-child {
  margin-right: 0px;
}

.header__list-link {
  color: var(--white-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 0;

  transition: color var(--transition-duration) var(--transition-timing);
}

.header__form {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__form-search {
  position: relative;
  width: 280px;

  .header__form-input {
    font-size: 14px;
    max-width: 280px;
    width: 100%;
    height: 20px;
    background: none;
    border: none;
    border-bottom: 0.5px solid var(--white-color);

    color: var(--white-color);
    transition: border-bottom-color var(--transition-duration)
      var(--transition-timing);
    &:hover,
    &:focus {
      cursor: pointer;
    }
    &::placeholder {
      transition: color var(--transition-duration) var(--transition-timing);
    }
  }

  @media screen and (min-width: 768px) {
    .header__form-input {
      max-width: 336px;
    }
    .header__form-search {
      width: 336px;
    }
    .header__form {
      margin-top: 40px;
    }

    .header__error {
      font-size: 14px;
      line-height: 1.14;
      margin-top: 20px;
      text-align: center;
    }
  }

  @media screen and (min-width: 1280px) {
    .header__form-input {
      max-width: 394px;
    }
    .header__form-search {
      width: 394px;
    }
  }

  .header__form-input:focus-within {
    outline: none;
  }
  .header__form-input:not(:placeholder-shown) {
    color: var(--white-color);
  }

  .header__form-input::placeholder {
    color: var(--white-color);
  }

  .header__form-icon {
    display: inline-flex;
  }

  .header__error {
    margin-top: 16px;
    color: var(--red-color);
    transition: opacity var(--transition-duration) var(--transition-timing);
    opacity: 100%;
  }

  .header__list-link--accent::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -4px;
    transform: translate(-50%, 0%);
    background-color: var(--red-color);
    width: 100%;
    height: 3px;
  }

  .header__logo-text {
    display: none;
    transition: color var(--transition-duration) var(--transition-timing);
  }
  @media screen and (min-width: 768px) {
    .header__logo {
      display: flex;
      align-items: center;
    }
    .header__logo-text {
      display: inline-block;
      font-weight: 500;
      font-size: 30px;
      line-height: 1.17;
      color: var(--white-color);
      margin-left: 10px;
    }
  }

  .header__search {
    position: absolute;
    display: inline-flex;
    background: none;
    border: none;

    stroke: var(--white-color);
    fill: none;

    top: 50%;
    left: 102%;
    transform: translate(-100%, -50%);
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: stroke var(--transition-duration) var(--transition-timing);
  }
}

.icon-autorization {
  fill: white;
  stroke: white;

  transition: stroke var(--transition-duration) var(--transition-timing),
    fill var(--transition-duration) var(--transition-timing);
}

/*Ховери*/
.header__logo:hover.header__logo:focus .header__icon {
  stroke: var(--accent-color);
}
.header__logo:hover.header__logo:focus .header__logo-text {
  color: var(--accent-color);
}
.header__list-link:hover,
.header__list-link:focus {
  color: var(--accent-color);
}

.icon-autorization:hover {
  fill: var(--accent-color);
  stroke: var(--accent-color);
}

.header__form-input:hover,
.header__form-input:focus {
  border-bottom-color: var(--accent-color);
}

.header__form-input:hover.header__form-input::placeholder {
  color: var(--accent-color);
}
.header__form-input:focus.header__form-input::placeholder {
  color: var(--accent-color);
}

.header__form-input:hover ~ .header__search {
  stroke: var(--accent-color);
}
.header__form-input:focus ~ .header__search {
  stroke: var(--accent-color);
}
