.lib-header {
  min-height: 230px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--header-bgc);
  background-image: url(/src/images/mobile/library-background-mobile.jpg);
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .lib-header {
    background-image: url(/src/images/mobile/library-background-mobile@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 288dpi),
  screen and (min-resolution: 3dppx) {
  .lib-header {
    background-image: url(/src/images/mobile/library-background-mobile@3x.jpg);
  }
}

.header__section-lib {
  padding-top: 44px;
  padding-bottom: 62px;
}

@media screen and (min-width: 768px) {
  .header {
    min-height: auto;
  }
  .header__section {
    padding-bottom: 77px;
  }
}

/*Tablet фон*/
@media screen and (min-width: 768px) {
  .lib-header {
    background-image: url(/src/images/tablet/library-background-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .lib-header {
      background-image: url(/src/images/tablet/library-background-tablet@2x.jpg);
    }
  }
  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .lib-header {
      background-image: url(/src/images/tablet/library-background-tablet@3x.jpg);
    }
  }
}

/*Desctop фон*/
@media screen and (min-width: 1280px) {
  .lib-header {
    background-image: url(/src/images/desktop/library-background-desktop.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .lib-header {
      background-image: url(/src/images/desktop/library-background-desktop@2x.jpg);
    }
  }
  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .lib-header {
      background-image: url(/src/images/desktop/library-background-desktop@3x.jpg);
    }
  }
}

.header__icon {
  display: block;
  stroke: var(--white-color);
  fill: none;
  transition: stroke var(--transition-duration) var(--transition-timing);
}

.header__logo-text {
  display: none;
  transition: color var(--transition-duration) var(--transition-timing);
}

@media screen and (min-width: 768px) {
  .header__logo {
    display: flex;
    align-items: center;
  }
  .header__logo-text {
    display: inline-block;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    color: var(--white-color);
    margin-left: 10px;
  }
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
  font-style: 500;
  font-size: 12px;
  line-height: 1;
}

.header__list {
  color: var(--white-color);
}

.header__list-item {
  position: relative;
  margin-right: 40px;
}

.header__list-item:last-child {
  margin-right: 0px;
}
.header__list-link {
  color: var(--white-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  padding-top: 2px;
  padding-bottom: 2px;

  transition: color var(--transition-duration) var(--transition-timing);
}

.icon-autorization {
  fill: white;
  stroke: white;
  transition: stroke var(--transition-duration) var(--transition-timing),
    fill var(--transition-duration) var(--transition-timing);
}
.header__list-link--accent::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translate(-50%, 0%);
  background-color: var(--red-color);
  width: 100%;
  height: 3px;
}

/*Стилізація кнопок */
.btn-container {
  margin-top: 49px;
  display: flex;
  justify-content: center;
}

.lib-btn {
  display: block;
  text-align: center;
  font-size: 12px;
  color: var(--white-color);
  line-height: 1.33;
  font-weight: 500;

  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 36px;
  padding-right: 36px;

  width: 130px;
  height: 44px;
  border: 1px solid var(--white-color);
  border-radius: 5px;
  background: none;
  text-transform: uppercase;

  transition: background-color var(--transition-duration)
      var(--transition-timing),
    border-color var(--transition-duration) var(--transition-timing);
}

.lib-btn:not(:last-child) {
  margin-right: 15px;
}

.current-btn {
  box-shadow: 0 8px 43px rgb(255 107 1 / 60%);
  background-color: var(--orange-btn);
  border: 0;
  border-radius: 5px;
  outline: none;
}

@media screen and (min-width: 768px) {
  .lib-btn {
    width: 152px;
    height: 44px;
    padding: 13px, 46px;
  }
}

@media screen and (min-width: 1280px) {
  .lib-btn {
    margin-right: -16px;
  }

  .lib-btn {
    width: 148px;
    height: 42px;
    margin-right: 16px;
    padding: 12px 41px;
  }
}
/*Ховери*/
.header__logo:hover .header__icon {
  stroke: var(--accent-color);
}
.header__logo:focus .header__icon {
  stroke: var(--accent-color);
}

.header__logo:hover .header__logo-text {
  color: var(--accent-color);
}
.header__logo:focus .header__logo-text {
  color: var(--accent-color);
}

.header__list-link:hover {
  color: var(--accent-color);
}
.lib-btn:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.icon-autorization:hover {
  fill: var(--accent-color);
  stroke: var(--accent-color);
}
.blabla {
  padding: 3px;
  width: 40px;
  height: 20px;
  
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  margin-left: 6px;

  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 5px;
}
