.card__list {
  width: 100%;
  text-align: center;
  @media screen and(min-width:768px) {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, calc((100% - 32px) / 2));
  }
  @media screen and(min-width:1280px) {
    gap: 32px 16px;
    grid-template-columns: repeat(3, calc((100% - 32px) / 3));
  }
}
.film__item {
  border-radius: 5px;
  display: inline-block;
  flex-grow: 1;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}
.film__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    scale: 1.02;
  }
}

.film__wrap {
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 12px;
  }
}
.film-item__img {
  width: 100%;
  border-radius: 5px;
  height: 398px;
  @media screen and (min-width: 768px) {
    height: 455px;
  }
  @media screen and (min-width: 1280px) {
    height: 574px;
  }
}
.film__title-wrap {
  text-align: left;
}
.film__title {
  text-align: left;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}
.film__genres-and-date {
  display: flex;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  color: var(--accent-color);
  @media screen and(min-width:768px) {
    line-height: 1.33;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}
.film__genres {
  &::after {
    content: ' | ';
  }
}

.film__release-date {
  margin-left: 2px;
}
